<%= content_for :title, "Avivas Sport - Tienda Deportiva" %>

<!-- Carrusel de Imágenes -->
<div id="carouselIndex" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="carrusel/elem_pink.jpg" />
      <div class="carousel-caption d-none d-md-block">
        <h5>¡Nuevos Elementos para Vos!</h5>
        <p>Comodidad y rendimiento en casa.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="carrusel/orange.jpg" />
      <div class="carousel-caption d-none d-md-block">
        <h5>Descuento en Equipos de Basket</h5>
        <p>Hasta 40% off en pelotas y camisetas.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="carrusel/elem_green.jpg" />
      <div class="carousel-caption d-none d-md-block">
        <h5>Últimos Lanzamientos</h5>
        <p>Descubre los nuevos modelos de raquetas.</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselIndex" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselIndex" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>