<div class="container-custom">
  <h1>Lista de Ventas</h1><br>
  
  <% if @ventas.any? %>
  <% @ventas.each do |venta| %>
    <h2>Venta realizada el <%= venta.fecha.strftime("%d/%m/%Y %H:%M") %></h2>

    <table>
      <thead>
        <tr>
          <th>Empleado</th>
          <th>Estado</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= User.find(venta.id_empleado).username %></td>
          <td><%= venta.estado.capitalize %></td>
          <td>
            <% if venta.estado == "completada" %>
              <%= link_to 'Cancelar Venta', cancelar_venta_path(venta), method: :put, class: 'btn btn-danger' %>
            <% else %>
              <span class="text-muted">Venta cancelada</span>
            <% end %>
          </td>
        </tr>
      </tbody>
    </table>
  <% end %>
  <% else %>
  <p>No hay ventas registradas.</p>  <!-- Mensaje cuando no hay ventas -->
<% end %>
</div>
